<!DOCTYPE html>
<html lang="pt-BR">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/central.css">
  <title>OuçaJunto</title>

</head>


<body>

  <div class="hero">
    

    <!-- Botão hambúrguer (visível em mobile) -->
    <button class="hamburger" id="hamburgerBtn">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <div class="sidebar" id="sidebar" role="navigation">
      <!-- conteúdo da sidebar desktop -->
      
    </div>

  </div>

  <script src="/js/central.js"></script>
</body>

</html>
