/* Reset + box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* Paleta / Cores */
  --cor-fundo: #0b0210;
  --roxo-900: #2b002e;
  --roxo-700: #5c007a;
  --roxo-500: #8a2be2;
  --texto: #ffffff;

  /* Tipografia / Fontes */
  --fonte-sans: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --fonte-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", monospace;
  --tamanho-base: 16px;
}

/* Reset global básico */
html, body, #root {
  height: 100%;
  margin: 0; 
  padding: 0; 
}

/* Corpo da página */

/* HERO: pega todo o tamanho do body e utiliza o mesmo degradê de baixo para cima */
.hero {
	height: 100%; /* usa o height do body (body tem height:100% no base.css) */
	min-height: 100vh; /* fallback */
    background: linear-gradient(to top, var(--roxo-900) 0%, var(--cor-fundo) 100%);
	color: var(--texto);
}