/* contêiner que envolve o input de código da sala e o texto auxiliar */
.room-input-wrapper {
  position: absolute;  
  left: 50%;
  bottom: 40%;            
  transform: translateX(-50%);
  width: calc(100% - 48px);
  max-width: 560px; /* limita a largura máxima em telas grandes */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  z-index: 3;            
}

/* caixa que contém input + botão de ação */
.room-input-box {
  display: flex;
  width: 100%;
  background: rgba(255,255,255,0.04);
  border-radius: 12px;
  padding: 6px;
  align-items: center;
}

/* estilo do input para digitar codigo */
.room-input {
  flex: 1;
  border: none;
  background: transparent;
  color: #fff;
  padding: 12px 14px;
  font-size: 16px;
  outline: none;
  caret-color: #fff;
}

/* botão de ação "+" */
.room-join-btn {
  background: #7b61ff00;
  color: #fff;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  font-size: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 8px;
}

/* texto auxiliar abaixo do input */
.room-help {
  margin: 0;
  color: rgba(255,255,255,0.65);
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.room-image {
  display: block;
  width: 100%;        
  max-width: 520px;     
  height: auto;         
  margin: 0 0 8px;     
  align-self: center;   

}

.site-footer {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255,255,255,0.65);
  font-size: 12px;
  letter-spacing: 0.4px;
  background: transparent;
  z-index: 2;
  pointer-events: none;
  user-select: none;
}
